@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Order Places Successfully</h1>
        Your Order Number is: @Model
    </div>
</div>