@model ProductCategory


<div class="container">
    <div class="row">
        <h1>Category To Update</h1>
    </div>
    <div class="row">
        @Model.Id<br/>
        @Model.Name<br/>
    </div>
</div>