@using WebShop.Models.Models.Views

@{
    var categories = Context.Items["CategoryList"] as List<ProductCategory>;
    var errorMessage = TempData["Error"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
@*     <div id="circle" class="circle"></div> *@
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                             <span class="hover-bar"></span> <!-- Bar for hover effect -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                             <span class="hover-bar"></span> <!-- Bar for hover effect -->
                        </li>
                        @if (User.IsInRole(Roles.Role_Admin))
                        {
                            <li class="nav-item dropdown mb-md-2">
                                <button class="btn btn-dark dropdown-toggle p-0 p-lg-2" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin Panel
                                        </button>
                                        <span class="hover-bar"></span>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a></li>
                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Products Categories</a></li>
                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders</a></li>
                                        </ul>
                                    </li>
                        }
                        @if (User.IsInRole(Roles.Role_User))
                        {
                                    <li class="nav-item dropdown mb-md-2">
                                        <button class="btn btn-dark dropdown-toggle p-0 p-lg-2" data-bs-toggle="dropdown" aria-expanded="false">
                                            User Panel
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li class="nav-item"><a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a></li>
                                        </ul>
                                    </li>
                        } 
                    </ul>
                        <form asp-controller="Products" asp-action="Search" method="get" class="d-lg-flex">
                            <div class="col-4 mb-md-1 me-lg-1">
                                <input type="text" class="form-control" name="serachString" aria-describedby="emailHelp">
                            </div>
                            <div class="col-4 m-0 p-0">
                                @if (categories != null)
                                {
                                    <select class="form-select" aria-label="Categories" name="categoryOption">
                                        <option selected value="0">All Categories</option>
                                        @foreach (var category in categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                }
                            </div>
                        <div class="col-4 mt-lg-0 mt-md-2 ms-lg-1">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    
                    @* <partial name="_LoginPartial"/> *@
                    @await Html.PartialAsync("_LoginPartial", new LoginViewModel { ErrorMsg = errorMessage });
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        // Initialize popovers
        document.querySelectorAll('[data-bs-toggle="popover"]')
            .forEach(popover => {
                new bootstrap.Popover(popover)
            })

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
